* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background: #0e1e87;
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #0e1e87), color-stop(85%, #960a0a));
  background: linear-gradient(90deg, #0e1e87 15%, #960a0a 85%);
}

main {
  padding: 2rem 0;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(16, 29, 118, 0.9);
  z-index: 10;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 4rem;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.menu.offset-menu {
  top: -100vh;
}

.menu h1 {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

.menu p {
  font-size: 1.4rem;
  margin-bottom: 6rem;
  line-height: 2.2;
}

.menu button {
  padding: 1.2rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: #fff;
  background: #e65512;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.menu button:hover {
  background: #fff;
  color: #e65512;
}

.scoreboard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scoreboard div {
  width: 50%;
  text-align: center;
}

.scoreboard div p {
  font-size: 1.8rem;
}

.hands {
  width: 100%;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hands div {
  width: 50%;
  text-align: center;
}

.hands div:first-child img {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@-webkit-keyframes shakeP {
  0% {
    -webkit-transform: translateY(0) scaleX(-1);
            transform: translateY(0) scaleX(-1);
  }
  10% {
    -webkit-transform: translateY(-2rem) scaleX(-1);
            transform: translateY(-2rem) scaleX(-1);
  }
  30% {
    -webkit-transform: translateY(2rem) scaleX(-1);
            transform: translateY(2rem) scaleX(-1);
  }
  50% {
    -webkit-transform: translateY(-2rem) scaleX(-1);
            transform: translateY(-2rem) scaleX(-1);
  }
  70% {
    -webkit-transform: translateY(2rem) scaleX(-1);
            transform: translateY(2rem) scaleX(-1);
  }
  90% {
    -webkit-transform: translateY(-2rem) scaleX(-1);
            transform: translateY(-2rem) scaleX(-1);
  }
  100% {
    -webkit-transform: translateY(0) scaleX(-1);
            transform: translateY(0) scaleX(-1);
  }
}

@keyframes shakeP {
  0% {
    -webkit-transform: translateY(0) scaleX(-1);
            transform: translateY(0) scaleX(-1);
  }
  10% {
    -webkit-transform: translateY(-2rem) scaleX(-1);
            transform: translateY(-2rem) scaleX(-1);
  }
  30% {
    -webkit-transform: translateY(2rem) scaleX(-1);
            transform: translateY(2rem) scaleX(-1);
  }
  50% {
    -webkit-transform: translateY(-2rem) scaleX(-1);
            transform: translateY(-2rem) scaleX(-1);
  }
  70% {
    -webkit-transform: translateY(2rem) scaleX(-1);
            transform: translateY(2rem) scaleX(-1);
  }
  90% {
    -webkit-transform: translateY(-2rem) scaleX(-1);
            transform: translateY(-2rem) scaleX(-1);
  }
  100% {
    -webkit-transform: translateY(0) scaleX(-1);
            transform: translateY(0) scaleX(-1);
  }
}

@-webkit-keyframes shakeC {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  30% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  50% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  70% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  90% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes shakeC {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  30% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  50% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  70% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  90% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.choices {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choices div {
  border-radius: 0.5rem;
  padding: 1.4rem;
  background: rgba(25, 25, 25, 0.6);
  border: 2px solid #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.4rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.choices div:first-child {
  margin-left: 0;
}

.choices div:first-child img {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.choices div:hover {
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 0.8rem rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0.8rem rgba(255, 255, 255, 0.5);
}

.choices div.disable-button {
  cursor: not-allowed;
  border: 2px solid #191919;
  background: rgba(25, 25, 25, 0.6);
  opacity: 0.6;
}

.choices div.disable-button:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.choices div img {
  width: 6rem;
}

.choices div p {
  margin-top: 1rem;
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  main {
    padding: 3rem;
  }
  .scoreboard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .scoreboard div:first-child {
    margin-bottom: 1.4rem;
  }
  .scoreboard div p {
    width: 100%;
  }
  .hands div img {
    width: 13rem;
  }
}

@media screen and (max-width: 580px) {
  .hands div:first-child {
    text-align: left;
  }
  .hands div:last-child {
    text-align: right;
  }
  .choices div {
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */